<!DOCTYPE html>
<html lang="en">

<head >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body class="container">
    <header class="header">
        <h1>The Header</h1>
    </header>
    <nav class="nav">
        <ul>
            <li><a href="">Nav -1</a></li>
            <li><a href="">Nav -2</a></li>
            <li><a href=""> Nav -3</a></li>
        </ul>
    </nav>

    <main class="main">
        <article>
            <h3>Main Articel - 1</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis vero et doloribus illo in, repellat
                earum libero eaque voluptatum repudiandae suscipit, quod quos nam minus? Possimus temporibus repudiandae
                maxime sunt.</p>
        </article>
        <article>
            <h3>Main Articel - 2</h3>
            <p>Hic, nulla, quae voluptas magnam doloremque perferendis laudantium repellendus reiciendis placeat
                cupiditate reprehenderit iusto nam consequatur unde necessitatibus dicta ut in id, harum ad excepturi.
                Qui dolorem obcaecati animi maiores.</p>
        </article>
    </main>

    <div class="slider">
        <h4>Slider</h4>
    </div>

    <div class="advertice">
        <h4> Advertice</h4>
    </div>

    <footer class="footer">
        <h3>The Footer</h3>
    </footer>

</body>

</html>